# Assignment/Task 2

### Pritam Poddar 
GO_STP_55

## 1) Is a list mutable?

### --> Yes, List is a mutable data type.

In [1]:
# Creating lists
list_1=[10,20,"Hello",35.2]
list_2=[10,12,15,17,18]

# list are mutable
print(f'Before Changing the Element : {list_1}')
list_1[0]="test"
print(f'After Changing the Element : {list_1}')

Before Changing the Element : [10, 20, 'Hello', 35.2]
After Changing the Element : ['test', 20, 'Hello', 35.2]

## 2) Does a list need to be homogeneous?

### --> List cancontain heterogeneous values such as integers, floats, strings, tuples,lists, and dictionaries but they are commonly used to store collections ofhomogeneousobjects.

## 3) What is the difference between a list and a tuple.

### --> Difference between list and tupleis thatlistis mutable, whereas atupleis immutable. This means thatlistscan be changed, andtuplescannot be changed

## 4) How to find the number of elements in the list?

In [ ]:
A = []
B = int(input("Number of time - "))
for I in range(B):
  C = input("Enter Any thing - ")
  A.append(C)

print(A)
len(A)   # Len function is used to find number of element in the list

Number of time - 3
Enter Any thing - A
Enter Any thing - B
Enter Any thing - C
['A', 'B', 'C']

3

## 5) How to check whether the list is empty or not?

In [ ]:
A = []
B = int(input("Enter Number of element u want to add - "))
if B == 0:
  print("List is Empty")
else:
  for I in range(B):
    C = input("Enter - ")
    A.append(C)
  if len(A) == 0 :
    print("List is Empty")
  else:
    print("list is Not Empty")
print("Length is - ",len(A))

Enter Number of element u want to add - 5
Enter - 12
Enter - 12
Enter - 12
Enter - 0
Enter - 10
list is Not Empty
Length is -  5

##6) How to find the first and last element of the list?

In [ ]:
L = ["A","B","C","D",1,2,3,4]
print(L[0])  # For First Element

print(L[-1])  # For Last Element

A
4

## 7) How to find the largest and lowest value in the list?

In [ ]:
A = []
B = int(input("Number of Element - "))
for I in range(B):
  C = int(input("Enter Number - "))
  A.append(C)
print(max(A))
print(min(A))

Number of Element - 5
Enter Number - 20
Enter Number - 25
Enter Number - 30
Enter Number - 50
Enter Number - 55
55
20

## 8) How to access elements of the list?

In [ ]:
A = []
B = int(input("Number of Element - "))
for I in range(B):
  C = int(input("Enter Number - "))
  A.append(C)
print(A)

Number of Element - 10
Enter Number - 1
Enter Number - 2
Enter Number - 3
Enter Number - 4
Enter Number - 5
Enter Number - 6
Enter Number - 7
Enter Number - 8
Enter Number - 9
Enter Number - 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##9) Remove elements in a list before a specific index

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]
A.pop()  #pop is used to delete element from any specific position
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 10) Remove elements in a list between 2 indices

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]
A.pop(-2)  #pop is used to delete element from any specific position
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

## 11) Return every 2nd element in a list between 2 indices

In [ ]:
A = [12,22,33,44,55,66,77,88,99,100]
A[0:8:2]

[12, 33, 55, 77]

## 12) Get the first element from each nested list in a list

In [ ]:
C = []
A = [[12,22,33,44,55],[66,77,88,99,100],[1,2,3,4,5],[6,7,8,9,10]]
for I in A:
  C.append(I[0])
print(C)

[12, 66, 1, 6]

## 13) How to modify elements of the list?

In [ ]:
A = [12,22,33,44,55]
print(""A)
A[0]=120
print(A)

[120, 22, 33, 44, 55]

## 14) How to concatenate two lists?

In [ ]:
A = [12,22,33,44,55]
B = [1,2,3,4,5]
print(A+B)

[12, 22, 33, 44, 55, 1, 2, 3, 4, 5]

## 15) How to add two lists element-wise in python?`***

In [ ]:
A = [12,22,33,44,55]
B = [1,2,3,4,5] 
C = list(map(add,A,B))
print(C)

[13, 24, 36, 48, 60]

## 16) Difference between del and clear?

In [ ]:
# Del
B = [1,2,3,4,5]
del B
print(B)

NameError: ignored

In [ ]:
# Clear
B = [1,2,3,4,5]
B.clear()
print(B)

[]

## 17) Difference between remove and pop?

In [ ]:
# pop
B = [1,2,3,4,5]
B.pop(0)
print("Claer - ",B)

# Remove
B = [1,2,3,4,5]
B.remove(1)
print("Remove -",B)

Claer -  [2, 3, 4, 5]
Remove - [2, 3, 4, 5]

## 18) Difference between append and extend?

In [ ]:
# Append  
A = [1,2,3,4,5]
A.append(6)
print(A)

# Extend  ***
A = [1,2,3,4,5]
A.extend([6,7,8,9,10])
print(A)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 19) Difference between indexing and Slicing?

In [ ]:
A = [10,12,32,44,52,26]
# Indexing
print(A[0])
# Slicing
print(  A[1:4])

10
[12, 32, 44]

## 20) Difference between sort and sorted?

In [ ]:
A = [2,1,4,3,5]
# Sorted in Assending Order
print(sorted(A))
# Sorted in Decinding order
peint(sorted(A,reverse= True))

[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

# 21) Difference between reverse and reversed?

In [ ]:
A = [2,1,4,3,5]
A.reverse()
print(A)

[5, 3, 4, 1, 2]

## 22) Difference between copy and deepcopy?

## 23) How to remove duplicate elements in the list?

In [ ]:
A = [1,2,1,2,3,4,5,5]
# Setis use to remove duplicate from list
print(set(A))

{1, 2, 3, 4, 5}


## 24) How to find an index of an element in the python list?

In [ ]:
B = int(input("Which element index u want to know - "))
A = [10,40,50,30,20]
print(A.index(B))

Which element index u want to know - 20
4

## 25) How to find the occurrences of an element in the python list?

In [ ]:
B = int(input("Which element want to know - "))
A = [1,2,1,2,3,4,5,5,1,2,3,5,4]
print(A.count(B))

Which element want to know - 5
3

## 26) How to insert an item at a given position?

In [ ]:
A = [1,2,1,2,3,4,5,5]
A.insert(5,10)
print(A)

[1, 2, 1, 2, 3, 10, 4, 5, 5]

## 27) How to check if an item is in the list?

In [ ]:
B = int(input("Enter the number u want to check - "))
A = [1,2,1,2,3,4,5,5]
B in A

Enter the number u want to check - 5

True

## 28) How to flatten a list in python?

In [ ]:
A =[[1,2,3],[4,5],[6]]
print(sum(A,[]))  # Flatten
type(A)

[1, 2, 3, 4, 5, 6]

list

## 29) How to convert python list to other data structures like set, tuple, dictionary?

In [ ]:
A = ["Pritam Poddar","08/03/1997","M",24]
B = ["Name","DOB","Gender","Age"]
# Set
print("Set - ",set(A))
# Tuple
print("Tuple - ",tuple(A))
# Dictionary
print("Dictionary - ",dict(zip(B,A)))

Set -  {24, '08/03/1997', 'Pritam Poddar', 'M'}
Tuple -  ('Pritam Poddar', '08/03/1997', 'M', 24)
Dictionary -  {'Name': 'Pritam Poddar', 'DOB': '08/03/1997', 'Gender': 'M', 'Age': 24}

## 30) How to apply a function to all items in the list?

In [ ]:
B = []
A = [10,2,3,4]
for I in A:
  B.append(I ** 2)
print(B)

[100, 4, 9, 16]

## 31) How to filter the elements based on a function in a python list?

In [ ]:
A = []
B = []
S = [55,60,65,70,75,80]
for I in S:
  if I > 70:
    A.append(I)
    print("In - ",A)
  else:
    B.append(I)
    print("Out - ", B)

Out -  [55]
Out -  [55, 60]
Out -  [55, 60, 65]
Out -  [55, 60, 65, 70]
In -  [75]
In -  [75, 80]

## 32) How python lists are stored in memory?

### --> The list object consists of two internal parts; one object header, and one separately allocated array of objectreferences